/* Global */

:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-green: #00897b;
  --color-dark-green: #005b4f;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-light-orange: #ffc046;
  --color-orange: #ff8f00;
  --color-black: #000000;
  --color-red: #dd2c00;
  --color-yellow: #ffd600;
  --color-blue: #0091ea;

  /* Font size */
  --font-large: 48px;
  --font-medium-large: 38px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;
  --size-avatar: 300px;
  --size-major: 250px;
  --size-major-icon-outline: 170px;
  --size-major-icon: 70px;
  --size-base-space: 16px;

  /* Animation */
  --animation-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  list-style: none;
  padding-left: 0;
}

section:not(#home) {
  text-align: center;
  padding: 50px;
  max-width: 1200px;
  margin: auto;
}

/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-small);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}

/* Navbar */

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-green);
  color: var(--color-white);
  padding: 16px;
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  font-family: 'Lobster', cursive;
  margin-left: 10px;
}

.navbar__logo a {
  font-family: 'Lobster', cursive;
  font-size: var(--font-medium-large);
}

.navbar__menu {
  display: flex;
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  border-radius: var(--size-border-radius);
}

.navbar__menu__item,
.navbar__logo {
  transition: all var(--animation-duration) ease;
}

.navbar__menu__item:hover,
.navbar__logo:hover {
  cursor: pointer;
}

.navbar__menu__item:hover {
  background-color: var(--color-dark-green);
}

.navbar__logo:hover {
  transform: scale(1.1);
}

/* Home */

#home {
  background: url('imgs/home-background.png') center/cover no-repeat;
  text-align: center;
  padding: 50px;
}

.home__avatar {
  width: var(--size-avatar);
  height: var(--size-avatar);
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid var(--color-light-white);
}

.home__title,
.home__description,
.home__contact {
  color: var(--color-white);
}

.home__title {
  text-align: center;
}

.home__contact {
  font-size: var(--font-small);
  border: 1px solid var(--color-white);
  padding: 8px 12px;
  margin-top: 24px;
  border-radius: var(--size-border-radius);
  font-weight: var(--weight-semi-bold);
  transition: all var(--animation-duration) ease;
}

.home__contact:hover {
  background-color: var(--color-light-grey);
}

/* About */

.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 60px 0;
}

.major {
  width: var(--size-major);
}

.major__icon {
  width: var(--size-major-icon-outline);
  height: var(--size-major-icon-outline);
  border: 1px solid;
  border-radius: 50%;
  font-size: var(--size-major-icon);
  line-height: var(--size-major-icon-outline);
  margin: auto;
  cursor: pointer;
}

.major__icon,
.major__title,
.major__description {
  color: var(--color-dark-grey);
}

.major h2 {
  transition: all var(--animation-duration) ease;
}

.major__icon:hover i {
  transform: rotate(-30deg) scale(1.1);
}

.major__icon i {
  transition: all var(--animation-duration) ease;
}

/* .html:hover {
  color: var(--color-red);
} */

.html:hover,
.html:hover ~ h2 {
  color: var(--color-red);
}

.css:hover,
.css:hover ~ h2 {
  color: var(--color-blue);
}

.javascript:hover,
.javascript:hover ~ h2 {
  color: var(--color-yellow);
}

.job {
  display: flex;
  align-items: center;
  margin: var(--size-base-space) 0;
}

.job__logo {
  width: var(--size-major-icon);
  height: var(--size-major-icon);
}

.job__description {
  text-align: left;
  margin: 0 var(--size-base-space);
}

.job__name,
.job__period {
  color: var(--color-light-grey);
}

.job__period {
  font-size: var(--font-micro);
}
