/* Global */

:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #f9f9f9;
  --color-medium-white: #e2e0e0;
  --color-dark-white: #bdbdbd;

  --color-black: #2d2e32;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;

  --color-theme: #ed9a2a;

  --color-html: #e04d1d;
  --color-css: #0177bd;
  --color-scss: #cd6699;
  --color-javascript: #efdb4f;
  --color-git: #f03c2d;

  /* Font size */
  --font-large: 3.5rem;
  --font-medium-large: 2rem;
  --font-medium: 1.5rem;
  --font-regular: 1.2rem;
  --font-small: 1rem;
  --font-micro: 0.8rem;

  /* Font weight */
  --weight-bold: 800;
  --weight-semi-bold: 600;
  --weight-regular: 300;

  /* Size */
  --size-border-radius: 4px;
  --size-avatar: 330px;
  --size-major: 250px;
  --size-major-icon-outline: 170px;
  --size-major-icon: 70px;
  --size-work-btn: 150px;

  /* Animation */
  --animation-duration: 300ms;
  --animation-long-duration: 600ms;
  --animation-longer-duration: 1000ms;
}

/* Universal tags */

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

ul {
  list-style: none;
  padding-left: 0;
}

section {
  padding: 100px 50px;
}

.section__container {
  max-width: 1000px;
  margin: auto;
}

/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  line-height: 120%;
  color: var(--color-black);
  margin: 16px 0;
}

h2 {
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  color: var(--color-theme);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-small);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}

/* Navbar */

#navbar {
  background-color: var(--color-white);
  box-shadow: 0 0 15px var(--color-dark-white);
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 30px;
  transition: all var(--animation-duration) ease;
  z-index: 1;
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
  margin-left: 10px;
  padding: 8px 8px 12px 8px;
  animation: floating 2s linear infinite;
}

.navbar__menu {
  display: flex;
}

.navbar__menu__item {
  font-size: var(--font-small);
  font-weight: var(--weight-semi-bold);
  padding: 8px 12px;
  margin: 0 4px;
  border-radius: var(--size-border-radius);
}

.navbar__menu__item,
.navbar__logo a {
  transition: all var(--animation-duration) ease;
}

.navbar__logo a:hover {
  color: var(--color-theme);
}

.navbar__menu__item:hover {
  transform: translateY(-8px);
  cursor: pointer;
}

.navbar__menu__item.active {
  transform: translateY(-8px);
  color: var(--color-theme);
}

.navbar__toggle-btn {
  font-size: 30px;
  position: absolute;
  top: 25px;
  right: 30px;
  display: none;
}

.navbar__menu.open {
  display: flex;
}

.navbar__toggle-btn:hover {
  cursor: pointer;
}

/* Home */

#home {
  background-color: var(--color-light-white);
  padding-top: 150px;
  height: 100vh;
}

.home__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home__profile {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

.home__avatar {
  background-color: var(--color-dark-grey);
  width: var(--size-avatar);
  height: var(--size-avatar);
  object-fit: cover;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  border: 3px solid var(--color-black);
  animation: morph 6s ease-in-out infinite;
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

.home__content {
  margin-right: 50px;
  width: 60%;
  text-align: left;
}

.home__content h1 {
  max-width: 550px;
  height: 130px;
}

.home__content h3 {
  max-width: 500px;
}

.typed-cursor {
  color: var(--color-dark-white);
}

.home__title,
.home__description {
  margin-bottom: 30px;
}

.home__github-icon {
  transition: all var(--animation-duration) ease;
}

.home__github-icon:hover {
  cursor: pointer;
  color: var(--color-theme);
}

.home__tech-stack {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all var(--animation-longer-duration) ease;
}

.home__tech-stack h3 {
  border-right: 2px solid var(--color-light-grey);
  padding-right: 30px;
  height: 30px;
}

.tech-stack-box {
  margin-left: 50px;
}

.tech-stack-box img {
  transition: all var(--animation-duration) ease;
  padding: 0 15px;
}

.tech-stack-box img:hover {
  transform: translateY(-10px);
  cursor: pointer;
}

/* About */

#about {
  background-color: var(--color-white);
  height: 80vh;
}

.about__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__content {
  width: 50%;
  text-align: left;
  padding-right: 50px;
}

.about__title {
  font-size: var(--font-medium-large);
}

.about__content h2,
.about__title {
  margin-bottom: 30px;
}

.about__description {
  font-size: var(--font-small);
}

.about__tech-stack {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.tech-stack-icons {
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all var(--animation-longer-duration) ease;
}

.tech-stack-icons img {
  margin: 15px;
}

.tech-stack-bars {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.tech-stack-bars .progress-line {
  position: relative;
  border-radius: 10px;
  width: 100%;
  height: 10px;
  background-color: var(--color-light-white);
  transition: all 800ms linear;
  transform-origin: left;
}

.tech-stack-bars .progress-line span {
  position: absolute;
  left: 0;
  border-radius: 10px;
  height: 100%;
  transition: all var(--animation-longer-duration) linear 1s;
  transform-origin: left;
  opacity: 0.6;
}

.tech-stack-bars .progress-line.html span {
  width: 88%;
  background-color: var(--color-html);
}

.tech-stack-bars .progress-line.css span {
  width: 90%;
  background-color: var(--color-css);
}

.tech-stack-bars .progress-line.scss span {
  width: 70%;
  background-color: var(--color-scss);
}

.tech-stack-bars .progress-line.javascript span {
  width: 80%;
  background-color: var(--color-javascript);
}

.tech-stack-bars .progress-line.git span {
  width: 50%;
  background-color: var(--color-git);
}

.tech-stack-percentage {
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.tech-stack-percentage h3 {
  font-size: var(--font-small);
  font-weight: var(--weight-semi-bold);
  transition: all var(--animation-longer-duration) linear 1s;
}

.tech-stack-percentage .html {
  color: var(--color-html);
}

.tech-stack-percentage .css {
  color: var(--color-css);
}

.tech-stack-percentage .scss {
  color: var(--color-scss);
}

.tech-stack-percentage .javascript {
  color: var(--color-javascript);
}

.tech-stack-percentage .git {
  color: var(--color-git);
}

/* Projects */

#project {
  background-color: var(--color-light-white);
}

/* Contact */

#contact {
  background-color: var(--color-white);
}

.contact__container {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.contact__description {
  font-weight: var(--weight-bold);
  font-size: var(--font-medium);
}

.contact__content {
  margin-top: 40px;
}

.contact__content,
.contact__location,
.contact__mail {
  display: flex;
  align-items: center;
}

.location-content,
.mail-content {
  text-align: left;
}

.location-content {
  margin-right: 50px;
}

.contact__content span {
  padding: 25px 25px 13px 25px;
  color: var(--color-theme);
}

.contact__content h3 {
  font-size: var(--font-small);
  font-weight: var(--weight-semi-bold);
  margin: 5px 0;
}

.contact__content a {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-light-grey);
  transition: all var(--animation-duration) ease;
}

.contact__content a:hover {
  color: var(--color-theme);
  cursor: pointer;
}

/* Footer */

#footer {
  background-color: var(--color-black);
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}

#footer h1 {
  color: var(--color-white);
  font-size: var(--font-small);
  font-weight: var(--weight-semi-bold);
}

.footer__github-icon {
  color: var(--color-white);
  transition: all var(--animation-duration) ease;
}

.footer__github-icon:hover {
  transform: scale(1.2);
}

/* Animations */

@keyframes floating {
  0%,
  100% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(5px);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slideDwon {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

/* Arrow up button */

.arrow-up-btn {
  display: none;
  position: fixed;
  right: 50px;
  bottom: 50px;
  font-size: 45px;
  color: var(--color-white);
  background-color: var(--color-black);
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  border-radius: 50%;
  pointer-events: none;
  opacity: 0;
  transition: all var(--animation-duration) ease;
}

.arrow-up-btn.visible {
  opacity: 1;
  pointer-events: auto;
}

.arrow-up-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/* For below 768px screen width */

@media screen and (max-width: 768px) {
  :root {
    /* Font size */
    --font-large: 30px;
    --font-medium-large: 25px;
    --font-medium: 18px;
    --font-regular: 16px;
    --font-small: 14px;
    --font-micro: 12px;
  }

  section {
    padding: 16px;
    padding-top: 70px;
  }

  .navbar__toggle-btn {
    display: block;
  }

  #navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-dark-green);
  }

  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  .navbar__menu.open {
    display: block;
  }

  .navbar__toggle-btn {
    font-size: 25px;
    top: 22px;
  }

  .about__majors {
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 0;
  }

  .major {
    margin-bottom: 30px;
  }

  .skillset {
    flex-direction: column;
  }

  .category__btn {
    width: 70%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 8px;
  }

  .work__projects {
    grid-template-columns: 1fr;
  }

  .testimonial {
    flex-direction: column;
  }

  .testimonial__avatar {
    width: 120px;
    height: 120px;
  }

  .testimonial__speach-bubble:nth-child(odd) {
    margin-right: 0;
  }

  .testimonial__speach-bubble:nth-child(even) {
    margin-left: 0;
  }

  .testimonial__speach-bubble {
    order: 1;
    margin-top: 12px;
  }

  .arrow-up-btn {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 40px;
    right: 30px;
    bottom: 30px;
  }
}

@media screen and (max-width: 1000px) and (min-width: 768px) {
  .work__projects {
    grid-template-columns: repeat(2, 1fr);
  }
}
