/* Global */

:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-green: #00897b;
  --color-dark-green: #005b4f;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-light-orange: #ffc046;
  --color-orange: #ff8f00;
  --color-dark-orange: #c56000;
  --color-black: #000000;
  --color-red: #dd2c00;
  --color-yellow: #ffd600;
  --color-blue: #0091ea;

  /* Font size */
  --font-large: 48px;
  --font-medium-large: 38px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;
  --size-avatar: 300px;
  --size-major: 250px;
  --size-major-icon-outline: 170px;
  --size-major-icon: 70px;
  --size-work-btn: 150px;

  /* Animation */
  --animation-duration: 300ms;
}

/* Universal tags */

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  list-style: none;
  padding-left: 0;
}

section {
  text-align: center;
  padding: 50px;
  padding-top: 100px;
}

.section__container {
  max-width: 1200px;
  margin: auto;
}

/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-small);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}

/* Navbar */

#navbar {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  color: var(--color-white);
  padding: 12px;
  transition: all var(--animation-duration) ease-in-out;
  z-index: 1;
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  font-family: 'Lobster', cursive;
  margin-left: 10px;
  padding: 8px 8px 12px 8px;
}

.navbar__logo a {
  font-family: 'Lobster', cursive;
  font-size: var(--font-medium-large);
}

.navbar__logo i {
  transition: all var(--animation-duration) ease;
}

.navbar__menu {
  display: flex;
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  border-radius: var(--size-border-radius);
}

.navbar__menu__item,
.navbar__logo {
  transition: all var(--animation-duration) ease;
}

.navbar__menu__item:hover,
.navbar__logo:hover {
  cursor: pointer;
}

.navbar__menu__item:hover {
  background-color: var(--color-green);
}

.navbar__menu__item.active {
  background-color: var(--color-green);
}

.navbar__logo:hover {
  transform: scale(1.1);
}

.navbar__logo:hover i {
  transform: rotate(-122deg) translateY(-4px);
}

.navbar__toggle-btn {
  font-size: 30px;
  position: absolute;
  top: 25px;
  right: 30px;
  display: none;
}

.navbar__menu.open {
  display: flex;
}

.navbar__toggle-btn:hover {
  cursor: pointer;
}

#navbar.navbar--dark {
  background-color: var(--color-dark-green);
}

/* Home */

#home {
  background: url('imgs/home-background.png') center/cover no-repeat;
  padding-top: 150px;
}

.home__avatar {
  width: var(--size-avatar);
  height: var(--size-avatar);
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid var(--color-light-white);
}

.home__title,
.home__description,
.home__contact {
  color: var(--color-white);
}

.home__title {
  text-align: center;
}

.home__contact {
  font-size: var(--font-small);
  border: 1px solid var(--color-white);
  padding: 8px 12px;
  margin-top: 24px;
  border-radius: var(--size-border-radius);
  font-weight: var(--weight-semi-bold);
  transition: all var(--animation-duration) ease;
}

.home__contact:hover {
  background-color: var(--color-orange);
  transform: scale(1.1);
  border: 1px solid var(--color-orange);
}

/* About */

.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 60px 0;
}

.major {
  width: var(--size-major);
}

.major__icon {
  width: var(--size-major-icon-outline);
  height: var(--size-major-icon-outline);
  border: 1px solid;
  border-radius: 50%;
  font-size: var(--size-major-icon);
  line-height: var(--size-major-icon-outline);
  margin: auto;
  cursor: pointer;
}

.major__icon,
.major__title,
.major__description {
  color: var(--color-dark-grey);
}

.major h2 {
  transition: all var(--animation-duration) ease;
}

.major__icon:hover i {
  transform: rotate(-30deg) scale(1.1);
}

.major__icon i {
  transition: all var(--animation-duration) ease;
}

.html:hover,
.html:hover ~ h2 {
  color: var(--color-red);
}

.css:hover,
.css:hover ~ h2 {
  color: var(--color-blue);
}

.javascript:hover,
.javascript:hover ~ h2 {
  color: var(--color-yellow);
}

.job {
  display: flex;
  align-items: center;
  margin: 16px 0;
}

.job__logo {
  width: var(--size-major-icon);
  height: var(--size-major-icon);
}

.job__description {
  text-align: left;
  margin: 0 16px;
}

.job__name,
.job__period {
  color: var(--color-light-grey);
}

.job__period {
  font-size: var(--font-micro);
}

/* Skills */

#skills {
  background-color: var(--color-light-orange);
}

.skillset {
  display: flex;
  background-color: var(--color-light-grey);
  color: var(--color-light-white);
  margin: 30px auto;
  max-width: 850px;
}

.skillset__left {
  background-color: var(--color-dark-grey);
  flex-basis: 60%;
  padding: 30px 40px;
}

.skillset__title {
  color: var(--color-white);
}

.skill {
  margin: 40px 0;
}

.skill__description {
  display: flex;
  justify-content: space-between;
}

.skill__bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-grey);
}

.skill__value {
  height: 3px;
  background-color: var(--color-orange);
}

.skillset__right {
  flex-basis: 40%;
}

.tools {
  background-color: var(--color-grey);
}

.tools,
.etc {
  padding: 30px;
}

/* Work */

#work h3 {
  font-weight: var(--weight-bold);
}

#work > h3 {
  color: var(--color-grey);
}

.work__categories {
  margin: 40px 0;
}

.category__btn {
  width: var(--size-work-btn);
  padding: 16px 0 16px 20px;
  margin: 0 2px;
  border: 1px solid var(--color-dark-white);
  border-radius: var(--size-border-radius);
  font-weight: var(--weight-semi-bold);
  transition: all var(--animation-duration) ease;
}

.category__count {
  background-color: var(--color-orange);
  color: var(--color-white);
  display: inline-block;
  width: 22px;
  height: 22px;
  line-height: 22px;
  border-radius: 50%;
  position: relative;
  left: 8px;
  top: -25px;
  opacity: 0;
  transition: all var(--animation-duration) ease;
}

.category__btn:hover,
.category__btn.selected {
  background-color: var(--color-dark-green);
  color: var(--color-white);
}

.category__btn.selected .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: -1px;
}

.work__projects {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  opacity: 1;
  transition: all var(--animation-duration) ease-out;
}

.work__projects.anim-out {
  opacity: 0;
  transform: scale(0.96) translateY(40px);
}

.project {
  margin: 2px;
  position: relative;
}

.project.invisible {
  display: none;
}

.project__img {
  height: 100%;
  width: 100%;
  transition: all var(--animation-duration) ease;
}

.project__description {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-light-white);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateY(10px);
  opacity: 0;
  transition: all var(--animation-duration) ease;
}

.project__description h3 {
  color: var(--color-dark-green);
}

.project:hover .project__description {
  opacity: 0.9;
  transform: translateY(0);
}

/* Testimonial */

#testimonial {
  background-color: var(--color-dark-white);
}

.testimonials {
  display: flex;
  flex-direction: column;
  margin: 40px 0;
}

.testimonial {
  display: flex;
  align-items: center;
  margin: 16px 0;
  max-width: 900px;
}

.testimonial:nth-child(odd) {
  align-self: flex-start;
}

.testimonial:nth-child(even) {
  align-self: flex-end;
}

.testimonial__avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.testimonial__speach-bubble {
  background-color: var(--color-light-white);
  border-radius: var(--size-border-radius);
  padding: 20px;
}

.testimonial__speach-bubble:nth-child(odd) {
  margin-right: 16px;
}

.testimonial__speach-bubble:nth-child(even) {
  margin-left: 16px;
}

.testimonial__speach-bubble p {
  color: var(--color-grey);
}

.name {
  margin-top: 20px;
}

.testimonial__speach-bubble a {
  color: var(--color-green);
  font-weight: var(--weight-semi-bold);
}

/* Contact */

#contact {
  background-color: var(--color-dark-green);
  display: flex;
  flex-direction: column;
}

.contact__title {
  margin: 32px 0;
}

.contact__title,
.contact__email,
.contact__rights {
  color: var(--color-light-white);
}

.contact__links {
  font-size: 50px;
  margin: 24px 0;
}

.contact__links i {
  padding: 8px;
  transition: all var(--animation-duration) ease;
  color: white;
}

.contact__links i:hover {
  transform: scale(1.1) rotate(30deg);
  color: var(--color-orange);
}

.contact__rights {
  margin-top: 35px;
}

/* Arrow up button */

.arrow-up-btn {
  position: fixed;
  right: 50px;
  bottom: 50px;
  font-size: 50px;
  color: var(--color-white);
  background-color: var(--color-dark-green);
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  border-radius: 50%;
  pointer-events: none;
  opacity: 0;
  transition: all var(--animation-duration) ease;
}

.arrow-up-btn.visible {
  opacity: 1;
  pointer-events: auto;
}

.arrow-up-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/* For below 768px screen width */

@media screen and (max-width: 768px) {
  :root {
    /* Font size */
    --font-large: 30px;
    --font-medium-large: 25px;
    --font-medium: 18px;
    --font-regular: 16px;
    --font-small: 14px;
    --font-micro: 12px;
  }

  section {
    padding: 16px;
    padding-top: 70px;
  }

  .navbar__toggle-btn {
    display: block;
  }

  #navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-dark-green);
  }

  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  .navbar__menu.open {
    display: block;
  }

  .navbar__toggle-btn {
    font-size: 25px;
    top: 22px;
  }

  .about__majors {
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 0;
  }

  .major {
    margin-bottom: 30px;
  }

  .skillset {
    flex-direction: column;
  }

  .category__btn {
    width: 70%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 8px;
  }

  .work__projects {
    grid-template-columns: 1fr;
  }

  .testimonial {
    flex-direction: column;
  }

  .testimonial__avatar {
    width: 120px;
    height: 120px;
  }

  .testimonial__speach-bubble:nth-child(odd) {
    margin-right: 0;
  }

  .testimonial__speach-bubble:nth-child(even) {
    margin-left: 0;
  }

  .testimonial__speach-bubble {
    order: 1;
    margin-top: 12px;
  }

  .arrow-up-btn {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 40px;
    right: 30px;
    bottom: 30px;
  }
}

@media screen and (max-width: 1000px) and (min-width: 768px) {
  .work__projects {
    grid-template-columns: repeat(2, 1fr);
  }
}
